@import '../../colors.scss';

.title{
    display:flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  align-items: center;
  top:6.5em;
  background-color: $whitesemi2;
  color: $green1;
  .textTitle{
    font-family: $font-gorditas;
    font-size: 2.3em; 
   
  }
    .range{
        border:4px solid $green1;
        border-radius: 30px;
        display:flex;
        align-items: center;
        justify-content: space-around;
        background-color: $green4;
        width:25%;
        height:4em;
        padding:20px;
        span{
            font-size: 1.2em;
            color:white;
        }
        input[type="range"]::-webkit-slider-runnable-track {
            background-color: $green6;
            border-radius: 1rem;
            height: 0.5rem;
          }
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            margin-top: -4px; /* Centers thumb on the track */
            border-radius: 0.5rem;
            height: 1rem;
            width: 1rem;
          }

        }
   .search, form{
    display:flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-around;
   
    .inputSearch{
        all:unset;
        background-color: white;
        border:2px dotted $green1;
        border-radius: 10px;
        height:2.6em;
        width:16em;
        margin-right: 30px;
     
    }
   .btnsearch {
        a{
            all:unset
        }
        all:unset;
        background-color: $green1;
        border:3px solid $green6;
        font-family: $font-gorditas;
        text-align: center;
        margin:10px 0;
        font-size:1.6em;
        color:white;
        cursor:pointer;
        width:4em;
        border-radius: 5px;
    }
    .btnsearch:hover{
        color:$green1;
        background-color: white;
    }
    
   }
}

  .reviews{
    display:flex;
    justify-content: center;
    width:13em;
  }  




.containerProducts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3em;
    .buttonCont{
        display:flex;
        flex-direction: column;
      align-items: center;
        .together{
            display:flex;
            
        }
    }
    .btnss {
        a{
            all:unset;

        }
        all:unset;
        background-color: $green1;
        border:3px solid $green6;
        font-family: $font-gorditas;
        text-align: center;
        margin:10px ;
        padding:10px;
        font-size:2em;
        color:white;
        cursor:pointer;
        border-radius: 5px;
    }
    .btnssRev {
        a{
            all:unset;
        }
        all:unset;
        background-color: $green1;
        border:3px dashed $green6;
        font-family: $font-gorditas;
        text-align: center;
        margin:10px 0;
        font-size:2em;
        color:white;
        cursor:pointer;
        width:100%;
        border-radius: 5px;
    }
    .btnss:hover{
        color:$green1;
        background-color: white;
    }
    .btnssRev:hover{
        color:$green1;
        background-color: white;
    }
}
.product{
    h2{
        font-family: $font-gorditas;
        text-decoration: underline;
    }
    background-color: $green3;
    display: flex;
    font-family: $font-content;
    font-weight: 100;
    flex-direction: column;
    border: 2px dotted $green1;
    width: 40%;
    margin: 7px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px -9px;
    .content{
        display:flex;
        justify-content: space-around;
        .text{
            span{
                text-align:center;
            }
            .bolder{
               font-size: 1.3em;
            }
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        img{
            width:11em;
            height:12.5em;
            border-radius: 6px;
        }
    }
}

.btnsadmin {
    a{
        all:unset !important;
    }
    all:unset;
    background-color: $green1;
    border:3px solid $green6;
    font-family: $font-gorditas;
    text-align: center;
    margin:10px 0;
    padding:10px;
    font-size:1.6em;
    color:white;
    cursor:pointer;
  
    border-radius: 5px;
}
.btnsadmin:hover{
    color:$green1;
    background-color: white;
}


.ant-modal-mask{
    background-color: transparent!important;
   
}
.line{
    text-decoration: overline;
}
.ant-modal-body{
    text-align: center;
    border:3px dotted $green1;
    font-family: $font-gorditas;
    padding:6px;

}
.review{
    background-color: $whitesemi2;
}