@import '../../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');

.title{
    display:flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  align-items: center;
  top:6em;
  background-color: $whitesemi2;
  color: $green1;
  .textTitle{
    font-family: 'Gorditas', cursive;
    font-size: 3em; 
   
  }
    .range{
        border:4px solid $green1;
        border-radius: 30px;
        display:flex;
        align-items: center;
        justify-content: space-around;
        background-color: $green4;
        width:30%;
        height:4em;
        padding:20px;
        span{
            font-size: 1.3em;
            color:white;
        }
        input[type="range"]::-webkit-slider-runnable-track {
            background-color: $green6;
            border-radius: 1rem;
            height: 0.5rem;
          }
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            margin-top: -4px; /* Centers thumb on the track */
            border-radius: 0.5rem;
            height: 1rem;
            width: 1rem;
          }

        }
   .search, form{
    display:flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-around;
   
    .inputSearch{
        all:unset;
        background-color: white;
        border:2px dotted $green1;
        border-radius: 10px;
        height:2.6em;
        width:16em;
        margin-right: 30px;
     
    }
   .btnsearch {
        a{
            all:unset
        }
        all:unset;
        background-color: $green1;
        border:3px solid $green6;
        font-family: 'Gorditas', cursive;
        text-align: center;
        margin:10px 0;
        font-size:1.6em;
        color:white;
        cursor:pointer;
        width:4em;
        border-radius: 5px;
    }
    .btnsearch:hover{
        color:$green1;
        background-color: white;
    }
    
   }
}

    




.containerProducts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3em;
    .button{
        display:flex;
        justify-content:  center;
    }
    button {
        a{
            all:unset
        }
        all:unset;
        background-color: $green1;
        border:3px solid $green6;
        font-family: 'Gorditas', cursive;
        text-align: center;
        margin:10px 0;
        font-size:2em;
        color:white;
        cursor:pointer;
        width:80%;
        border-radius: 5px;
    }
    button:hover{
        color:$green1;
        background-color: white;
    }
}
.product{
    h2{
        font-family: 'Gorditas', cursive;
        text-decoration: underline;
    }
    background-color: $green3;
    display: flex;
    font-family: 'Kaisei Tokumin', serif;
    font-weight: 100;
    flex-direction: column;
    border: 2px dotted $green1;
    width: 40%;
    margin: 7px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px -9px;
    .content{
        display:flex;
        justify-content: space-around;
        .text{
            span{
                text-align:center;
            }
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        img{
            width:12em;
            height:12.5em;
            border-radius: 6px;
        }
    }
}




