@import '../../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

.containerProducts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3em;
}
.product{
    background-color: $green3;
    display: flex;
    font-family: 'Kaisei Tokumin', serif;
    font-weight: 100;
    flex-direction: column;
    border: 2px dotted $green1;
    width: 40%;
    margin: 3px;
    padding: 15px;
    border-radius: 10px;
   
}
img{
    width:15em;
}
.content{
    display:flex
}