@import '../../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');

.containerProducts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3em;
    .button{
        display:flex;
        justify-content:  center;
    }
    button {
        all:unset;
        border:3px solid $green1;
        font-family: 'Gorditas', cursive;
        text-align: center;
        margin:10px 0;
        font-size:2em;
        color:white;
        cursor:pointer;
        width:80%;
        border-radius: 5px;
    }
    button:hover{
        color:$green1;
        background-color: white;
    }
}
.product{
    h2{
        font-family: 'Gorditas', cursive;
        text-decoration: underline;
    }
    background-color: $green3;
    display: flex;
    font-family: 'Kaisei Tokumin', serif;
    font-weight: 100;
    flex-direction: column;
    border: 2px dotted $green1;
    width: 40%;
    margin: 3px;
    padding: 15px;
    border-radius: 10px;
    .content{
        display:flex;
        .text{
            span{
                text-align:center;
            }
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        img{
            width:12em;
            border-radius: 6px;
        }
    }
}

