@import '../../colors.scss';


.center{
    display:flex;
    justify-content: center;
    margin-bottom:4em;
}

.profile{
    h1  {
        padding-left:20px;

        font-family: $font-gorditas;
    }
    .header{
        display:flex;
        justify-content: space-between;
        svg{
            font-size:3em;
            margin:10px;
            color:$green1;
        }
        svg:hover{
            color:$green6;
        }
    }
    font-family: $font-content;
    margin:66px;
    padding:10px;
    border-radius: 20px;
    background-color: $whitesemi2;
    width:40%;
    display:flex;
    flex-direction: column;
    .contentInfo{
        padding:20px;
        display:flex;
        align-items: center;
        img{
            margin-right:20px;
            width:10em;
        }
       
        .text{
            display:flex;
            flex-direction: column;
        }
    }
    .orders{
        display:flex;
        justify-content: center;
        text-align: center;
        .titleorder{
            text-decoration: underline;
            font-weight: bolder;
        }
    }
    
}
.profile:hover{
    background-color: white;
}
.hello{
    font-size: 2em;
    margin-bottom:50px;
}
.orderc{
    border:2px dashed $green1;
}