@import '../../colors.scss';



.containerAd{
display:flex;
flex-direction: column;
align-items: center;
background-color: $whitesemi;
border-radius: 30px;
margin:50px 30px;
padding:60px;
margin-bottom:150px;
h2{
    font-size: 3em;
}
    a {
    all: unset;
    font-family: $font-gorditas;
    letter-spacing: 5px;
    cursor: pointer;
    color:$green1;
    font-weight: bolder;
    font-size: 2em;
    padding: 0 30px;
    border-radius: 50px;
    
}
a:hover{
    background-color: $green1;
    color:white;
}
}
.containerAd:hover{
    background-color: white;
}
