@import '../../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');

.nav {
    display: flex;
    position: sticky;
    font-family: 'Gorditas', cursive;
    top: 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: $semi;
    padding-bottom: 1em;
    padding: 12px;
    a {
        all: unset;
        letter-spacing: 5px;
        cursor: pointer;
        color:white;
        font-weight: bolder;
        font-size: 3em;
        padding: 0 30px;
        border-radius: 50px;
    }
    a:hover{
        background-color: white;
        color:$green1;
    }
}
.iconcart{
    display:flex;
    position:fixed;
    align-items: center;
    justify-content: center;
    font-size: 0.4em;
    top:10px;
    right:170px;
    text-align: center;
    background-color: white;
    color:$green1;
    padding:7px;
    width:1.6em;
    height:1.6em;
    border-radius: 200px;
    border:2px solid $green6;
   
}