@import '../../colors.scss';


.containerlog{
    background-color: $whitesemi;
    width:30em;
    height:15em;
    padding:20px;
    margin:80px;
    border-radius: 20px;
    margin-bottom:90px;
}
.ant-form-item-label > label{
    font-size: 1.5em !important;
}
