@import '../../colors.scss';


.containerlog{
    background-color: $whitesemi;
    width:35em;
    height:15em;
    padding:40px;
    margin:120px;
    border-radius: 20px;
    margin-bottom:140px;
}
.ant-form-item-label > label{
    font-size: 1.5em !important;
}
