@import '../../colors.scss';


h2{
    font-family: $font-gorditas;
}
.message{
    padding:20px;
    background-color: white;
    margin:30px;
    font-family: $font-content;
}

.favs{
    font-family: $font-content;
    display:flex;
   font-size: 1.5em;
    flex-direction: column;
    align-items: center;
    background-color: $whitesemi2;
    width:40%;
    margin:20px;
    border-radius: 20px;
    padding:20px;
    .productFav{
        font-size: 0.8em;
        background-color: $green2;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px dashed $green1;
        padding:10px 30px;
        margin:10px;
        width:80%;
       
    }
    .productFav:hover{
        background-color: $green1;
    }
}
.favs:hover{
    background-color: white;
}